@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 100%; 
  padding: 0 5%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

header .wrapper { padding: 0 4.5%; }
.header-top { background: rgb(164,198,58); }

.top-content {
  margin-left: .5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact{
  border-left: 1px solid rgb(255,255,255,.2);
  border-right: 1px solid rgb(255,255,255,.2);
  display: flex;
  align-items: center;
}

.timing,.contact-number { padding: 13px 26px; }
.contact-number { border-left: 1px solid rgb(255,255,255,.2); }
.header-contact,.social-items { display: flex; }
.social-list:first-child{ border-left: 1px solid rgb(255,255,255,.2); }
.timing span { display: inline-block; }

.timing span,.contact-number a {
  color: rgb(255,255,255);
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.timing span::before,.contact-number a::before {
  margin-right: 10px;
  font-family: 'FontAwesome';
}

.timing span::before { content: '\f017'; }
.contact-number a::before { content: '\f095'; }

.social-list {
  width: 51px;
  height: 51px;
  border-right: 1px solid rgb(255,255,255,.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list a {
  padding-top: 7px;
  color: rgb(255,255,255);
  text-indent: -9999px;
  transition: all .5s ease;
}

.social-list a::before {
  float: left;
  font-family: "FontAwesome";
  font-size: 16px;
  text-indent: 0;
}

.facebook::before { content: "\f39e"; }
.twitter::before { content: "\f099"; }
.linkedin::before { content: "\f0e1"; }
.behance::before { content: "\f1b4"; }
.facebook:hover{  color: rgb(0, 140, 255); }
.linkedin:hover{ color: rgb(32, 132, 202); }
.twitter:hover{ color: rgb(0, 200, 255); }
.behance:hover{ color: rgb(255, 255, 0); }

.bottom-content {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255,255,255);
}

.bottom-content .wrapper { padding: 0 4.8%; }
.hamburger {
  display: none;
}

nav { margin-right: 2.1%; }
.logo img { transform: scaleX(1.11); }

.nav-items {
  display: flex;
  gap: 34px;
}

.nav-list { 
  position: relative;
}

.nav-list a {
  padding: 0 10px 12px 10px;
  display: inline-block;
  color: rgb(255,255,255);
  font-size: 17px;
  font-weight: 300;
  text-transform: capitalize;
  transition: all .5s ease;
}

.nav-list::before {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  display: block;
  background: rgb(164,198,58);
  transition: all .5s ease;
}

.nav-list:hover::before{ width: 100%; }
.nav-list:hover a{ color: rgb(164,198,58); }
.active-nav a { color: rgb(164,198,58); }
.active-nav::before { width: 100%; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner .wrapper {
  height: 100vh;
  padding: 0;
  overflow: hidden;
  margin-top: 37px;
}

.banner-items { height: 100%; }

.banner-list {
  height: 100%;
  display: none;
  position: relative;
}

.banner-image { height: 100%; }
.banner-image img { 
  height: 100%;
  object-fit: cover;
}

.banner-list { 
  position: relative;
  display: none;
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 12.5%;
  color: rgb(255,255,255);
  transform: translateY(-50%);
}

.banner-content h2,.banner-content h3 { text-transform: uppercase; }

.banner-content h2 { 
  padding-top: 20px;
  color: rgb(164,198,58);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px; 
}

.banner-content h3 {
  width: 39%;
  padding: 15px 0 12px 0;
  font-size: 49px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 2px; 
}

.banner-content P {
  width: 48%;
  padding: 22px 0;
  font-size: 16px;
  line-height: 1.9;
}

.banner-btn { padding: 21px 0; }

.green-btn {
  padding: 13px 34px;
  border-radius: 30px;
  background:rgb(164,198,58);
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.banner-controls {
  width: 100%;
  padding: 0 3%;
  position: absolute;
  top: 61%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.control { text-indent: -9999px; }

.control::before {
  float: left;
  font-size: 25px;
  font-family: 'FontAwesome';
  color: rgb(255,255,255);
  text-indent: 0;
}
.prev-btn::before { content: '\f053'; }
.next-btn::before { content: '\f054'; }
.active-banner { display: block; }
/* banner section end */

/* request section start */
.request { background: rgb(164,198,58); }
.request-content h3::first-letter,.request-content p::first-letter { text-transform: uppercase; }

.request-content {
  padding: 41px 0 42px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255,255,255);
}

.request-content h3 {
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
}

.request-btn { align-self: flex-end; }

.request-btn .green-btn { 
  padding: 12px 32px;
  border: 2px solid rgb(255,255,255);
}
/* request section end */

/* finance section start */
.finance { padding: 68px 0; }
.finance .wrapper{ padding: 53px 5%; }
.section-heading { padding: 20px 0; }

.section-heading h3 {
  padding: 10px 0; 
  font-size: 39px;
  font-weight: 600;
}

.section-heading p { 
  color: rgb(131,135,140);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-heading h3::first-letter { text-transform: uppercase; }
.section-heading span { color: rgb(164,198,58); }
.finance .section-heading { text-align: center; }
.finance .section-heading h3 { text-transform: capitalize; }

.finance-items {
  padding: 67px 0;
  display: flex;
  gap: 33px;
}

.finance-list {
  position: relative;
  overflow: hidden;
}

.finance-content {
  padding: 32px 31px;
  background: rgb(247,247,247);
}

.content-details { 
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  box-shadow: inset 1px 1px 12px rgb(192, 197, 199);
  transform: translateY(120%);
  transition: all .5s ease;
  overflow-y: auto;
}

.content-details p {
  padding: 20px 10px;
  line-height: 1.8;
  font-size: 16px;
}

.cancel-content {
  display: inline-block;
  text-indent: -9999px;
}

.cancel-content::before {
  content: '\f00d';
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'FontAwesome';
  text-indent: 0;
}

.active-finance .content-details { transform: translateY(0); }

.bold-text {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.finance-content p {
  padding: 18px 0 20px 0;
  color: rgb(131,135,140);
  line-height: 1.9;
}
/* finance section end */

/* growth section start */
.growth { 
  padding: 50px 0;
  background: url('/assets/images/fun-facts-bg.jpg') no-repeat center center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.growth h3 { line-height: 1.1; }
.growth .section-heading p { color: rgb(255, 255, 255); }

.growth-content {
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: 70px;
}

.growth-details { flex-basis: 46%; }

.growth-items {
  flex-basis: 49%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.growth-list { flex: 1 0 40%; }

.growth-data {
  padding: 33px 0;
  background: rgba(153, 149, 149, 0.2);
  text-align: center;
}

.growth-data span {
  color: rgb(164,198,58);
  font-size: 39px;
  font-weight: bold;
}

.growth-data h4 {
  padding: 6px 0;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
.para1,.para2 { line-height: 2;font-size: 16px; }
.para1 { padding: 17px 0; }
.para2 { padding: 20px 0; }
.growth-btn { padding: 20px 0; }
/* growth section end */

/* compnay section start */
.company {
  margin-top: 50px;
  padding: 79px 0;
}
.company h3 { line-height: 1.2; }

.company .wrapper{ padding: 60px 5%; }
.company-content {
  background: rgb(247,247,247);
  display: flex;
  justify-content: space-between;
}

.company-image {
  flex-basis: 48.5%;
}

.company-image img {
  height: 100%;
  object-fit: cover;
}

.company-info {
  padding: 30px 36px 20px 57px;
  flex-basis: 51%;
}

.info-1,.info-2 { line-height: 2;}
.info-1 { padding: 10px 0; }
.info-2 { padding: 21px 0 27px 0; }
.company-btn { padding-top: 6px; }
/* compnay section end */

/* about us section start */
.aboutUs { 
  padding: 9px 0 49px 0;
  margin-top: 15px;
  background: rgb(247,247,247); 
}
.aboutUs .wrapper { padding: 60px 5% 70px 5%; }
.aboutUs .section-heading,.about-list,.callback .section-heading { text-align: center; }
.aboutUs .section-heading { padding-top: 64px; }

.about-items {
  padding: 70px 0 90px 0;
  display: flex;
  gap: 33px;
}

.about-list {
  padding: 30px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.about-list span{
  color: rgb(164,198,58);
  font-weight: 600;
  text-transform: capitalize;
}

.about-list p{
  color: rgb(102, 105, 110);
  line-height: 2;
}

.about-list span {
  padding-top: 4px;
  display: inline-block;
}
/* about us section end */

/* callback section start */
.callback .wrapper { padding: 57px 5% 88px; }
.callback .section-heading { padding-top: 80px; }

.callback form {
  margin: 66px 0;
  padding: 66px;
  border-radius: 6px;
  display: flex;
  background: rgb(164,198,58);
  flex-wrap: wrap;
  flex-direction: column;
  gap: 13px;
}

.top-inputs {
  display: flex;
  gap: 30px;
}

.top-inputs .input-group { flex-basis: 33%; }

.input-group input {
  padding: 12px 15px;
  border-radius: 30px;
}

.input-group textarea { 
  height: 133px;
  padding: 16px 15px; 
  border-radius: 20px;
}

.input-group input,.input-group textarea {
  width: 100%;
  border: 2px solid transparent;
  font-size: 14px;
  outline: none;
}

.inputError {
  font-size: 12px;
  visibility: hidden;
  color: rgb(255,0,0);
}

.show-error { visibility: visible; }
.input-group input.success { border: 2px solid rgb(0, 158, 3); }
.input-group input.error { border: 2px solid rgb(0 149 255); }
.input-control { text-align: center; }

.input-control input {
  padding: 13px 30px;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
}
/* callback section end */

/* clients div start */

.clients .wrapper {
  padding: 65px 9% 94px;
  background: rgb(247,247,247);
}

.client-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-list { flex: 0 0 173px; }
/* clients div end */

/* services css start */
/* services banner start */
.services-banner .wrapper {
  width: 100%;
  height: 76vh;
  padding: 0;
  margin-top: 50px;
  position: relative;
}

.services-banner-content { height: 100%; }

.services-banner-info{
  position:absolute;
  top: 58%;
  left: 50%;
  color: rgb(255,255,255);
  transform: translate(-50%,-50%);
  text-align: center;
}

.services-banner-image{
  height: 100%;
}
.services-banner-image img{
  height: 100%;
  object-fit: cover;
}

.services-banner-info h2 {
  padding-bottom: 12px;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.services-banner-info p {
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* services banner end */

/* navigation section start */
.navigation .wrapper {
  padding: 153px 5% 140px;
  border-bottom: 1px solid rgb(235, 237, 237);
}

.navigation-content {
  display: flex;
  gap: 66px;
}

.navigation-items {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.navigation-list{
  position: relative;
  padding: 32px;
  background: rgb(164,198,58);
  color: rgb(0, 0, 0);
}

.navigation-list h3 {
  font-size: 23px;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-list h3::after {
  content: '\f054';
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 8.9%;
  font-size: 14px;
  transform: translateY(-50%);
}

.active-navigation { color: rgb(247,247,247); }
.navigation-details { flex-basis: 70%; }

.detail-list { display: none; }

.navigation-details h4 {
  padding-top: 25px;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-details p { 
  padding: 17px 0;
  color: rgb(102, 105, 110);
  line-height: 2; 
}

.active-detail { 
  display: block;
  animation: zoom .5s ease forwards;
}

@keyframes zoom {
  0% { transform: scale(.8); }
  100% { transform: scale(1); }
}
/* navigation section end */

/* services clients div start */
.services .clients .wrapper { padding: 65px 9%; }
/* services clients div end */
/* services css end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* footer top start */
.footer-top .wrapper {
  padding: 81px 5% 82px;
  background: rgb(35,35,35);
}

.footer-items {
  display: flex;
  gap: 23px;
  color: rgb(255, 255, 255);
}

.footer-list {
  flex-basis: 25%;
}

.footer-list h5 {
  padding-bottom: 35px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer-list p { line-height: 2; }

.footer-social {
  padding-top: 28px;
  display: flex;
  gap: 10px;
}

.footer-social-list a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: rgb(255,255,255);
  color: rgb(0, 0, 0);
  text-indent: -9999px;
  transition: all .5s ease;
}

.footer-social-list a:hover { transform: scale(1.1); }

.footer-social-list a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "FontAwesome";
  font-size: 16px;
  transform: translate(-50%,-50%);
  text-indent: 0;
}

.useful-items,.additional-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.useful-list a,.additional-list a {
  color: rgb(255,255,255);
  transition: all .5s ease;
}

.useful-list a::first-letter,.additional-list a::first-letter { text-transform: uppercase; }

.useful-list a:hover,.additional-list a:hover {
  color: rgb(164,198,58);
  text-decoration: underline;
}

.footer-top form,.footer-input-group {
  display: flex;
  flex-direction: column;
}
.footer-input-group input {
  padding: 12px 15px;
  border-radius: 30px;
}

.footer-input-group textarea { 
  height: 133px;
  padding: 16px 15px; 
  border-radius: 20px;
}

.footer-input-group input,.footer-input-group textarea {
  width: 100%;
  border: 2px solid transparent;
  background: rgb(52,52,52);
  font-size: 14px;
  outline: none;
}

.footer-input-control input {
  margin-top: 6px;
  padding: 15px 34px;
  border: none;
  outline: none;
}
/* footer top end */

/* footer bottom start */
.footer-bottom .wrapper {
  background: rgb(52,52,52);
}

.copyright-content {
  padding: 32px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: capitalize;
}
/* footer bottom end */
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  /* banner section start */
  .banner-content h3 { width: 55%; }
  .banner-content p { width: 58%; }
  /* banner section end */
}  
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
  /* wrapper start */
  .header-bottom .wrapper,.request .wrapper,.growth .wrapper,.footer-bottom .wrapper { padding: 0 2%; }
  .finance .wrapper { padding: 53px 2%; }
  .company .wrapper { padding: 60px 2%; }
  .aboutUs .wrapper { padding: 60px 2% 70px; }
  .callback .wrapper { padding: 57px 2% 88px; }
  .clients .wrapper { padding: 65px 2% 94px; }
  .footer-top .wrapper { padding: 81px 2% 82px; }
  /* wrapper end */
  
  /* header start */
  nav { margin-right: 0; }
  .nav-items { gap: 10px; }
  /* header end */

  /* banner section start */
  .banner-content {
    width: 80%;
    text-align: center;
  }
  .banner-content h3 { font-size: 35px; }
  .banner-content h3,.banner-content p { width: 100%; }
  /* banner section end */
}  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* header start */
  .nav-list a { font-size: 14px; }
  /* header end */

  /* finance section start */
  /* .section-heading h3 { font-size: 34px; } */
  .finance-content p,.finance .green-btn { font-size: 12px; }
  .bold-text {
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
  }
  /* finance section end */

  /* growth section start */
  .growth-content,.company-content { flex-direction: column; }
  /* growth section end */

  /* company section start */
  .company-image {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
  }
  /* company section end */

  /* callback section start */
  .top-inputs {
    flex-wrap: wrap;
    gap: 12px;
  }

  .top-inputs .input-group {
    flex: 1 0 33%;
    display: flex;
    flex-direction: column;
  }
  /* callback section end */

  /* clients section start */
  .clients .wrapper { padding: 40px 2%; }
  .client-items { gap: 40px 0; }
  .client-image { width: 173px; }

  .client-list { 
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
  }
  /* clients section end */

  /* footer start */
  .footer-items {
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-list { flex-basis: 40%; }
  /* footer end */
}  